body {
	font-family: Arial, sans-serif;
	text-align: center;
	background: #f0f0f0;
	user-select: none;
}

#mainCanvas {
	margin-top: 20px;
	background: white;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#nameList {
	margin: 20px;
}

.nameItem {
	font-size: 15px;
	display: inline-flex;
	background: #76a526;
	color: white;
	padding: 8px;
	border: none;
	border-radius: 8px;
	margin: 1px;
	cursor: pointer;
}

.excluded {
	background: #ad00a0;
}

.disabled {
	background: #ccc;
	cursor: default;
}

#downloadButton {
	font-size: 15px;
	background: #bc2f49;
	color: white;
	margin: 2px;
	padding: 8px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
}

#downloadButton:disabled {
	background: #ccc;
	cursor: default;
}

#screenshotButton {
    font-size: 15px;
    background: #bc2f49;
    color: white;
    margin: 2px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#screenshotButton:disabled {
    background: #ccc;
    cursor: default;
}

.iconContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
    cursor: pointer;
}

#instructionsButton {
	font-size: 15px;
	background: #89CFF0;
	color: white;
	margin: 2px;
	padding: 8px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
}

#instructionsButton:disabled {
	background: #ccc;
	cursor: default;
}

#instructionsModal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	align-items: center;
	justify-content: center;
	z-index: 1000;
}

#instructionsContent {
	background: white;
	padding: 20px;
	border-radius: 10px;
}

.instructionLine {
    display: block;
}

.instructionsInlineIcon {
    vertical-align: middle;
    height: 24px;
}

.instructionsInlineNameButton {
	display: inline-block;
    vertical-align: middle;
    font-size: inherit;
	background: #76a526;
	color: white;
	padding: 8px;
	border: none;
	border-radius: 8px;
}

.instructionsInlineDownloadButton {
	display: inline-block;
    vertical-align: middle;
    font-size: inherit;
	background: #bc2f49;
	color: white;
	padding: 8px;
	border: none;
	border-radius: 8px;
}
